@import 'bootstrap/dist/css/bootstrap.css';

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  background-color: lavenderblush;
}

.sc {
  padding: 20px;
  margin: 20px;
}

.m-4 {
  background-color: peachpuff;
  color: black;
  outline-color: palevioletred;
}

.m-5 {
  background-color: red;
  outline-color: palevioletred;
}

.m-2 {
  background-color: lavenderblush;
  color: black;
  outline-color: p;
}

.m-3 {
  background-color: lavenderblush;
  color: black;
  outline-color: palevioletred;
}

.dc {
  margin: 20px;
}
